<%- model_class = Cocktail -%>
<div class="page-header">
  <h1>Your Cocktails</h1>
</div>

<% if @cocktails.length > 0 -%>
<p class="spaced">
	<strong>Thanks for submitting <% if @cocktails.length > 1 -%>cocktail recipes<% else -%>a cocktail recipe<% end -%>
	to the San Diego Cocktail Book Project!</strong>  We will be in contact soon via the e-mail address that you provided.  
	If you need to reach out to us, please <a href="mailto:jeff@jeffreynichols.com">send an e-mail to Jeff</a>.
</p>
<% end -%>

<p class="smallspaced">
	If you need to edit your contact information, <%= link_to "click here", edit_users_path %>.
</p>

<p class="smallspaced">
	You agreed to the intellectual property agreement on <%= current_user.signed_date %> with the initials <%= current_user.initials %>.
	To view the agreement again, <%= link_to "click here", agreement_path %>.
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td style="vertical-align: middle;"><%= link_to cocktail.name, cocktail_path(cocktail) %></td>
        <td class="text-right">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_cocktail_path(cocktail), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      cocktail_path(cocktail),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_cocktail_path,
            :class => 'btn btn-primary' %>
