<% if current_user == nil -%>

	<%- model_class = User -%>
	<div class="page-header">
	  <h1>Welcome!</h1>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<% if @user.errors.any? -%>
				<%= render "shared/error_messages", :target => @user %>
			<% else -%>
				<p class="lead">
					Thanks for considering submitting cocktail recipes to the San Diego Cocktail Book project!
				</p>
				
				<p class="spaced">
					If you submitted a cocktail previously, please <%= link_to "login first!", login_path %>
				</p>
	
				<p class="spaced">
					Before you enter your recipes, we need to collect some contact information and take care of 
					some legal matters.  The contact information will be used only to communicate with you about
					the book.  The legal agreement allows us to publish your recipes and any other content you 
					submit to us, however you retain full ownership and rights to anything you submit.  It
					also protects us in the event that you submit information to which you do not own the rights.
				</p>
			<% end -%>
		</div>
	</div>
	  
	<%= form_for @user do |f| %>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h3 class="text-center">contact information</h3>
		
			  <div class="form-group spaced">
			    <%= f.label "Your full name:" %>
			    <%= f.text_field :name, :class => 'form-control' %>
			  </div>

			  <div class="form-group spaced">
			    <%= f.label "Your e-mail address:" %>
			    <%= f.text_field :email, :class => 'form-control', :type => :email %>
				<span class="help-block"><small>We'll only use this to contact you about the book.</small></span>
			  </div>

			  <div class="form-group spaced">
			    <%= f.label "Your current employer:" %>
			    <%= f.text_field :employer, :class => 'form-control' %>
				<span class="help-block"><small>OPTIONAL. This will help us plan photography sessions, etc.</small></span>
			  </div>

			  <div class="form-group spaced">
			    <%= f.label "Password:", :class => 'control-label' %>
			    <%= f.password_field :password, :class => 'form-control' %>
				<span class="help-block"><small>Providing a password allows you to edit your submissions later.</small></span>
			  </div>

			  <div class="form-group">
			    <%= f.label "Password Confirmation:", :class => 'control-label' %>
			    <%= f.password_field :password_confirmation, :class => 'form-control' %>
			  </div>
		</div>
	</div>

	<div class="row rowspacer50">
		<div class="col-md-6 col-md-offset-3">
			<h3 class="text-center">legal stuff</h3>
			
			<p class="spaced">
				Please read this fully!
			</p>
		</div>
	</div>
	
	<div class="row rowspacer25" style="margin-top: 25px;">
		<div class="col-md-10 col-md-offset-1">
			<div class="well">
				<%= render :partial => 'shared/agreement' %>
			</div>
		</div>
	</div>
	
	<div class="row rowspacer25" style="margin-top: 25px;">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
	    		<%= f.label "Please initial here to confirm you agree to the above terms:", :class => 'control-label' %>
				<%= f.text_field :initials, :class => 'form-control' %>
			</div>
	    </div>
	</div>

	<div class="row rowspacer25" style="margin-top: 25px;">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-actions text-center">
				<%= f.submit "Agree and Continue", :class => 'btn btn-primary' %>
				<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                root_url, :class => 'btn' %>
	  		</div>
		</div>
	</div>
	
	<% end  # form end -%>
<% else -%>
	<%- model_class = Cocktail -%>
	<div class="page-header">
	  <h1>Submit new cocktail</h1>
	</div>
	
	<%= render "shared/error_messages", :target => @cocktail %>
	
	<%= render :partial => 'form' %>
<% end -%>
