<%- model_class = Cocktail -%>

<div class="page-header">
  <h3><%= @cocktail.name %></h3>
  <p>
	<small>By <%= @cocktail.user.name %></small>
  </p>
</div>

<% if @cocktail.image_url -%>
<div class="spaced">
	<%= image_tag @cocktail.image_url.to_s %>
</div>
<% end -%>

<pre class="spaced">
<%= @cocktail.recipe %>
</pre>

<div class="form-actions spaced">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              cocktails_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_cocktail_path(@cocktail), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              cocktail_path(@cocktail),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
