<!DOCTYPE html>
<html>
<head>
  <title>San Diego Cocktail Book Project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="title-body">

	<div class="jumbotron drink-title">

		<div class="navbar navbar-default navbar-transparent" role="navigation">
			<div class="container">
		        <ul class="nav navbar-nav pull-right">
					<li><a href="http://blog.whatdididrink.com/">Blog</a></li>
				  <% if current_user != nil -%>
		          	<li><%= link_to "My Cocktails", cocktails_path %></li>
				  <% end -%>
				  <% if current_user == nil -%>
					<li><%= link_to "Login", login_path %></li>
				  <% else -%>
					<li><%= link_to "Logout", logout_path %></li>
				  <% end -%>
				</ul>
		    </div>
		</div>

		<div class="container">
			<div class="col-xs-6">
				<h1 class="h1-title">
					San Diego<br/>
					Cocktail Book<br/> 
					Project
				</h1>
				<p class="subtitle">
					Celebrating the wealth and breadth of San Diego cocktail culture with contributions from area bartenders.
				</p>
				<p><a class="btn btn-primary btn-lg" role="button">Submit your cocktail!</a></p>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2 class="text-center">our vision</h2>
		
				<p>
					Why are we doing this?  What are our goals?  We need yet more text here so that I can
					see how this wraps, because it doesn't feel right.
				</p>
				
				<a href="http://www.amazon.com/gp/product/0982631502/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0982631502&linkCode=as2&tag=why07b-20&linkId=SQXP7SIQU662QH2P">
					<img src="<%= asset_path('Left-Coast-Libations-small.png') %>" width="250" class="image-center"/>
				</a>
				
				<p>
					Another part of our motivation
				</p>
				
				<div style='width:350px'>
				  <object class='myWidget' data='http://www.blurb.com/assets/embed.swf' height='200' type='application/x-shockwave-flash' width='350'>
				    <param name='allowFullScreen' value='true' />
				    <param name='wmode' value='transparent' />
				    <param name='allowScriptAccess' value='always' />
				    <param name='movie' value='http://www.blurb.com/assets/embed.swf' />
				    <param name='FlashVars' value='book_id=4908138&amp;locale=en_US' />
				    <a href='http://www.blurb.com/books/4908138' target='_new'>
				      <img src='http://assets3.blurb.com/images/uploads2/catalog/002/721/821/5290274-3321526b4aea6d4b45327e420147b089.jpg' />
				    </a>
				  </object>
				</div>
				
			</div>
		</div>
		
		<div class="row rowspace50">
			<div class="col-md-6 col-md-offset-3">
				<h2 class="text-center">the details</h2>
		
				<p>
					Why are we doing this?  What are our goals?  We need yet more text here so that I can
					see how this wraps, because it doesn't feel right.
				</p>
			</div>
		</div>
		
		<div class="row rowspace50">
			<div class="col-md-6 col-md-offset-3 testborder">
				<h2 class="text-center">the organizers</h2>
				
				<p class="text-left">
					We're cocktail enthusiasts, not bartenders, but you
					probably wouldn't know it from the amount of time
					we spend in bars. There's a good chance that we've 
					sat in front of you at least once before.
				</p>
			</div>
		</div>
		
		<div class="row rowspace25">
			<div class="col-md-3 col-md-offset-2 testborder">
				<%= image_tag "jeff_reasonably_small.jpg", :class => 'bio-image' %>
				
				<h5 class="text-center">Jeffrey Nichols</h5>
				
				<p>
					Jeff is research scientist at IBM Research and
					resident of downtown San Diego.  He will drink
					anything boozy and bitter, but also enjoys a 
					well made tiki cocktail.
				</p>
			</div>
			
			<div class="col-md-3 col-md-offset-2 testborder">
				<%= image_tag "jordan_small.jpg", :class => 'bio-image' %>
				
				<h5 class="text-center">Clayton Jordan III</h5>
				
				<p>
					Jordan is a supply chain management expert who
					works in north county.  He prefers rye whiskey
					and likes lavender bitter cocktails when he can
					find them.
				</p>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<div class="footer-content container">
			<div class="col-md-6">
				<p><small>Copyright &copy; 2014, Snooty Bird, LLC</small></p>
			</div>
			<div class="col-md-6 text-right">
				<p><small>For questions and information, please contact <a href="mailto:jeff@jeffreynichols.com">Jeff</a>.</small></p>
			</div>
		</div>
	</div>
</body>
</html>
